{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="content-language" content="zh-CN"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="中银策略市场">
<meta name="description" content="中银策略市场是您身边最专业的策略超市,主要包括策略详细视图、策略图片、策略名称、当月收益率、实盘收益率等期货策略产品信息.">

{% comment %}    <link rel="stylesheet" type="text/css" href="{% static 'css/bk/common1.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bk/master1.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bk/main1.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/loginCtl.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/kefu.css' %}">{% endcomment %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% comment %}    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>{% endcomment %}