{% extends "base_my.html" %}
{% block my_list %}
    <div class="table-responsive">
        <table class="table table-striped ">
            <thead>
            <tr>
                <th>标题</th>
                <th>日期</th>
                <th>摘要</th>
                <th>所属策略</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for notice in notice_list %}
                <tr>
                    <td><a href="/notice/{{ notice.id }}/">{{ notice.title }}</a></td>
                    <td>{{ notice.pub_date.date|date:"Y-m-d" }}</td>
                    <td>{{ notice.content|slice:"20" }}</td>
                    <td>{{ notice.strategy.name }}</td>
                    <td>生效</td>
                    <td>
                        <a href="" class="btn btn-danger">删除</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}