<div class="col-sm-2">
    <a href="#" class="list-group-item active">你好，{{ user.first_name }}</a>
    <a href="{% url 'my_sub_strategy' %}" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span>&nbsp;策略订阅</a>
    <a href="{% url 'my_watch_strategy' %}" class="list-group-item">
        <span class="glyphicon glyphicon-heart"></span>&nbsp;策略关注</a>
    <a href="{% url 'my_notice' %}" class="list-group-item">
        <span class="glyphicon glyphicon-envelope"></span>&nbsp;通知</a>
    <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-user"></span>&nbsp;交易员</a>
</div>