{% extends "base_my.html" %}
{% block my_list %}
    <div class="table-responsive">
        <table class="table table-striped ">
            <thead>
            <tr>
                <th>策略名称</th>
                <th>交易员</th>
                <th>创建时间</th>
                <th>下个调仓</th>
                <th>调仓周期</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for strategy in strategy_list %}
                <tr>
                    <td><a href="/market/strategy/{{ strategy.id }}/">{{ strategy.name }}</a></td>
                    <td>{{ strategy.author.first_name }}</td>
                    <td>{{ strategy.pub_date.date|date:"Y-m-d" }}</td>
                    <td>{{ strategy.portfoliosAdjustmentNext.date|date:"Y-m-d" }}</td>
                    <td>{{ strategy.portfoliosAdjustment }}个交易日</td>
                    <td>上架</td>
                    <td>
                        <a href="" class="btn btn-danger">删除</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}