<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">中银策略市场</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-left">
                <li {% if request.path|slice:"7" == "/market" %}class="active"{% endif %}><a href="{% url 'market' %}">市场</a>
                </li>
                <li {% if request.path|slice:"7" == "/dealer" %}class="active"{% endif %}><a href="{% url 'dealer' %}">交易员</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        行情 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">黄金</a></li>
                        <li><a href="#">白银</a></li>
                        <li><a href="#">钯金</a></li>
                        <li class="divider"></li>
                        <li><a href="#">美元</a></li>
                        <li><a href="#">欧元</a></li>
                        <li><a href="#">日元</a></li>
                        <li class="divider"></li>
                        <li><a href="#">石油</a></li>
                        <li><a href="#">煤炭</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'my_sub_strategy' %}"><span
                            class="glyphicon glyphicon-user"></span>{{ user.first_name }}</a></li>
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
                {% else %}
                    <p>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    </p>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>