{% extends 'base.html' %}

{% block title %}中银策略市场-策略详情{% endblock %}

{% load static %}
{% block head_extra %}
    <!--market head-->
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/bqcommons.css' %}">
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 column">
                <div class="page-header">
                    <h1>{{ strategy.name }}&nbsp;<small>{{ strategy.description }}</small></h1>
                        {% if is_follow %}
                            <button type="button" id="follow_strategy" class="btn btn-primary disabled" disabled=true>
                                已关注
                            </button>
                        {% else %}
                            <button type="button" id="follow_strategy" class="btn btn-primary">关注</button>
                        {% endif %}
                        {% if is_deal %}
                            <button type="button" id="deal_strategy" class="btn btn-danger disabled" disabled=true>
                                已交易
                            </button>
                        {% else %}
                            <button type="button" id="deal_strategy" class="btn btn-danger disabled">未交易</button>
                        {% endif %}
                        {% if is_like %}
                            <button id="like_strategy" type="button" class="btn btn-default pull-right">
                                <span class="glyphicon glyphicon-heart"></span> 点赞
                            </button>
                        {% else %}
                            <button id="like_strategy" type="button" class="btn btn-default pull-right">
                                <span class="glyphicon glyphicon-heart-empty"></span> 点赞
                            </button>
                        {% endif %}

                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4 column">
                        <dl>
                            <dd><span class="sub-title">交易员：</span>{{ strategy.author.first_name }}</dd>
                        </dl>
                        <dl>
                            <dd><span class="sub-title">创建时间：</span>{{ strategy.pub_date.date|date:"Y-m-d" }}</dd>
                        </dl>
                        <dl>
                            <dd><span class="sub-title">关注：</span>{{ strategy.followCount }}</dd>
                        </dl>
                    </div>
                    <div class="col-xs-12 col-md-4 column">
                        <dl>
                            <dt>策略描述：</dt>
                            <dd>{{ strategy.content }}</dd>
                        </dl>
                    </div>
                    <div class="col-xs-12 col-md-4 column">
                        <dl>
                            <dt>评分：</dt>
                            <dd>{% include "strategy_score.html" %}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            // 订阅策略
            $("#sub_strategy").click(function () {
                var sid = {{ strategy.id }};

                $.getJSON("/sub_strategy/" + sid + "/", function (ret) {
                    if (ret.result) {
                        $("#sub_strategy").attr("class", "btn btn-danger disabled");
                        $("#sub_strategy").attr("disabled", true);
                        $("#sub_strategy").text("已订阅");
                    }
                    else {
                        alert("请登录");
                    }
                })
            });
            // 关注策略
            $("#watch_strategy").click(function () {
                var sid = {{ strategy.id }};

                $.getJSON("/watch_strategy/" + sid + "/", function (ret) {
                    if (ret.result) {
                        $("#watch_strategy").attr("class", "btn btn-primary disabled");
                        $("#watch_strategy").attr("disabled", true);
                        $("#watch_strategy").text("已关注");
                    }
                    else {
                        alert("请登录");
                    }
                })
            });
        });
    </script>
{% endblock %}



